
# super annoying

.DS_Store

*/.DS_Store

*.DS_Store


# over 100

Global COVID-19 Data.dta

GIS/Tutorial\ Videos/

Global\ Daily\ COVID-19\ Data/Masterfiles/


# over 50, less than 100

USA Data/County level/Inputs/Raw/US Colleges & Universities/most-recent-cohorts-all-data-elements-1 (1).csv

GIS/US/County Boundaries/tl_2017_us_county.zip

Global Daily COVID-19 Data/Build/Inputs/Processed Data/New_COVID_Data.dta

Global Daily COVID-19 Data/Build/Inputs/Processed Data/Backup_New_COVID_Data/New_COVID_Data_22 Feb 2021.dta

USA Data/County level/Analysis/Mapping and Regressions Jan 2021/county select indicators Jan 6.zip

GIS/US/Final layers/county voting 2000-2020.zip

GIS/US/Final layers/County Relgion Data.zip

GIS/US/Final layers/CBP data 2000-2020.zip

GIS/US/County Boundaries/tl_2017_us_county.zip

GIS/US/Final layers/Total enrolled students by county.zip

USA Data/County level/Inputs/Raw/CBP 2000 Industry Data/CBP Industry 2000 raw.csv

USA Data/County level/Inputs/Raw/CBP 2000 Industry Data/CBP Industry 2000 raw.xlsx


# second round additions

GIS/Maps/Archive/Covid19_votes_pop_US_Counties.shp

GIS/US/College University Data/Total enrolled students by county/Total enrolled students by county.shp

GIS/US/County Boundaries/tl_2017_us_county/tl_2017_us_county.shp

GIS/US/County CBP/CBP data 2000-2020.shp

GIS/US/County Data Dec 4/County Data Dec 4.shp

GIS/US/Religion Data Census/County Religion Data.shp

GIS/US/archive/CHR+Religion join/County CHR and Religion.shp

GIS/US/archive/County CBP 2000-2018.shp

GIS/US/archive/County CHR_Rel_CBP_Dem.shp

GIS/US/archive/County Masterfile no CBP/County Masterfil no CBP dec 14.shp

GIS/archive/county voting chr religion.shp